{% extends "auctions/layout.html" %}

{% block body %}
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{error_message}}
        </div>
    {% endif %}
    <h2>Create Listing</h2>
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field }}
            </div>
        {% endfor %}
        <input class="btn btn-dark" type="submit" value="List">
    </form>

{% endblock %}